<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>visitorslogin</servlet-name>
        <servlet-class>autocs.visitorslogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>conn</servlet-name>
        <servlet-class>autocs.conn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFoodServlet</servlet-name>
        <servlet-class>autocs.AddFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFoodServlet</servlet-name>
        <servlet-class>autocs.EditFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFood</servlet-name>
        <servlet-class>autocs.RemoveFood</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Orderconfirmed</servlet-name>
        <servlet-class>autocs.Orderconfirmed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Processing</servlet-name>
        <servlet-class>autocs.Processing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveAddress</servlet-name>
        <servlet-class>autocs.SaveAddress</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>visitorslogin</servlet-name>
        <url-pattern>/visitorslogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>conn</servlet-name>
        <url-pattern>/conn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFoodServlet</servlet-name>
        <url-pattern>/AddFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFoodServlet</servlet-name>
        <url-pattern>/EditFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFood</servlet-name>
        <url-pattern>/RemoveFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Orderconfirmed</servlet-name>
        <url-pattern>/Orderconfirmed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Processing</servlet-name>
        <url-pattern>/Processing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAddress</servlet-name>
        <url-pattern>/SaveAddress</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
